<main>
    <section id="veille" class="uk-background-cover" (click)='gotoViewPage()'>
      <div class="logo-animated">
        <img src="./../../../assets/img/square.jpg" alt="" class="square uk-animation-slide-left-small">
        <div class="./../../../assets/uk-animation-slide-left-small">
          <img src="./../../../assets/img/project.png" alt="" class="project"><br>
          <img src="./../../../assets/img/sub-square.png" alt="" class="sub-square">
        </div>
      </div>
      <div class="btn-block">
        <div class="block-revealer__content">
            <h1 >Touchez l'écran pour commencer</h1>
        </div>
      </div>
    </section>
</main>
